# Скопируй этот файл в .env и заполни своими значениями
# cp .env.example .env

# Wildberries API
WB_API_TOKEN=вставь_сюда_токен_статистики_WB
WB_ADV_TOKEN=вставь_сюда_токен_рекламного_API_WB

# Telegram Bot
TG_BOT_TOKEN=вставь_сюда_токен_от_BotFather
TG_CHAT_ID=вставь_сюда_свой_chat_id
